
@{
    ViewBag.Title = "Tree";
}

@Scripts.Render("~/bundles/treeview_js")
@Styles.Render("~/bundles/treeview_css")
<h2>Test Tree</h2>
<div id="tree"></div>
<input type="button" id="bt" value="Ajax" />

<script>
    $("#bt").click(function () {
        $.ajax({
            url: '/Test/GetStaff',
            headers: {
                Accept: "application/json"
            },
            type: 'POST',
            data: {
                Id: 2
            },
            success: function (data) {
                //柑橘类别已经存在

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("验证码获取失败！请稍后重新尝试");
            },
            //    dataType: 'json'
        });
    });
</script>

